
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}




header {
    display:flex;
    min-height: 70px;
    background-color: #fa9715;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.logo{
    display: flex;
    align-items: center;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: white;

}

input, textarea, button {
    padding: 0.8rem;
    font-size: 1rem;
}

button {
    background-color: #fa9715;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #fa9715;
}

.mapa iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: none;
}


@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }

    section {
        padding: 1rem;
    }

    input, textarea, button {
        font-size: 0.9rem;
        padding: 0.7rem;
    }

    .mapa iframe {
        height: 300px;
    }
}
